.background-image {
    background-image: url('../img/banner-initial.png');
    background-size: cover !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 1);
  }
  
  .divider-section {
    border-bottom: 3px solid #515c6f;
  }
  
  .accordion-button {
    background-color: #303030 !important;
  
  }
  
  .accordion {
    max-width: 70%;
  }
  
  .accordion-collapse {
    max-height: 20%;
    overflow-y: auto;
  
  }
  
  @media (max-width: 768px) {
    .hero {
      padding: 10px;
    }
  
    .accordion {
      max-width: 90%;
  
    }
  }
  
 .accordion {
    border: none ;
  
  }
  
  #footer-links {
    font-size: small !important;
    color: #797b7e;
  }
  
  #footer-duvida {
    font-size: 18px !important;
    color: #797b7e;
  }
  
  #acordio-texte {
    background-color: black !important;
  }
  

  /* home */

.background-home {
    background-image: url('../img/growcast-01.png') !important;
    background-size: cover !important;
    background-repeat: no-repeat;
  
  }
  
  .nav-item {
    color: beige !important;
  }

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}


.card {
  width: calc(80% - 10px);
  margin: 10px; 
}


.card-body {
  display: none;
  background-color: black !important;
  color: antiquewhite !important;
}

.card:hover .card-body {
  display: block;
}
.card {
  transition: transform 0.5s ease; /
}

.card:hover {
  transform: translateY(-10px); 
}
